# Django
django>=1.9.12
djangorestframework>=3.7.7
django-cors-headers>=2.2.0
drf-yasg>=1.7.0
whitenoise==3.2.2

# Dependencies need special handling
numpy>=1.8.1
cffi>=1.11.4
pandas>=0.20.1
scipy>=0.19.0
scikit-learn>=0.19.0
tensorflow>=1.0.0

#Use 'pip install -r requirments.txt'
#Get tensorflow
#pip3 install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl